PROJECT_NAME=itophub
TZ=America/Argentina/San_Juan

MARIADB_ROOT_PASSWORD=change_me_root
MARIADB_USER=itophub_user
MARIADB_PASSWORD=change_me_db
REDIS_DB=0

ITOP_BASE_IMAGE=combodo/itop:latest
ITOP_ADMIN_USER=admin
ITOP_ADMIN_PASSWORD=admin

VITE_APP_NAME=iTop Hub

SMTP_FROM_EMAIL=no-reply@itophub.local
PDF_WORKER_QUEUE=pdf_jobs
INTERNAL_API_SECRET=change_me_internal_secret
JWT_SECRET=change_me_jwt_secret
