ENV_NAME=qa

VOLUMES_ROOT=./APP/volumes
DATA_ROOT=./APP/data/qa
LOGS_ROOT=./APP/logs/qa
SETTINGS_ROOT=./APP/config

MARIADB_PORT=4306
APP_DB_NAME=itophub_app_qa
ITOP_DB_NAME=itophub_itop_qa
REDIS_PORT=7379
REDISINSIGHT_PORT=6540

NGINX_HTTP_PORT=9080
FRONTEND_PORT=6173
BACKEND_PORT=9000
MAILPIT_UI_PORT=9025
MAILPIT_SMTP_PORT=2025

MARIADB_ROOT_PASSWORD=replace_in_qa
MARIADB_PASSWORD=replace_in_qa

VITE_APP_NAME=iTop Hub QA
SMTP_HOST=mailpit
SMTP_PORT=1025

ITOP_URL=https://itop.qa.example.com
VITE_API_URL=http://localhost:9080/api
VITE_ITOP_URL=https://itop.qa.example.com
SMTP_FROM_EMAIL=no-reply@qa.itophub.local
PDF_WORKER_QUEUE=pdf_jobs_qa
INTERNAL_API_SECRET=replace_in_qa
JWT_SECRET=replace_in_qa
