ENV_NAME=prd

VOLUMES_ROOT=./APP/volumes
DATA_ROOT=./APP/data/prd
LOGS_ROOT=./APP/logs/prd
SETTINGS_ROOT=./APP/config

MARIADB_PORT=5306
APP_DB_NAME=itophub_app
ITOP_DB_NAME=itophub_itop
REDIS_PORT=8379

NGINX_HTTP_PORT=80

MARIADB_ROOT_PASSWORD=replace_in_prd
MARIADB_PASSWORD=replace_in_prd

SMTP_HOST=smtp.example.com
SMTP_PORT=587

ITOP_URL=https://itop.example.com
VITE_API_URL=https://itop.example.com/api
VITE_ITOP_URL=https://itop.example.com
SMTP_FROM_EMAIL=no-reply@itophub.example.com
INTERNAL_API_SECRET=replace_in_prd
JWT_SECRET=replace_in_prd
